.WidgetOverviewContainer{
	padding: 25px 15px;
}


@media (max-width: 767px){
	.widget-home-1{padding-right: 3px;}
	.widget-home-2{padding-left: 3px;}
	.widget-home-3{padding-right: 3px;}
	.widget-home-4{padding-left: 3px;}
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}